@media screen {
	html {
		background: url(images/libraryescalator.JPG) no-repeat; /*78aabf*/
		background-size:cover;
		position: fixed;
    	width: 100%;
    	height: 100%;
    	top: 0px;
    	left: 0px;

	}

	body {
		background: #D7F2FD;
		font-family: 'Raleway', sans-serif;		
		font-size: 200%px;
		width:50%;
		color: #F5F5F5;
    	top: 0px;
    	left: 0px;
    	border:2px solid;
    	border-color:#807223;
		border-radius:25px;
    	
	}
	
	#screen-dan 
{ 
	background: url(images/bg.jpg) no-repeat; 
	width: 960px; 
	height: 658px; 
	margin: 50px auto 0 auto; 
	padding: 0; 
	color: #343434; 

	h1 {
		font-family: 'Raleway', sans-serif;
		color: #F5F5F5;
		text-transform: uppercase;
	}

	ul {
		list-style:none;
		margin-left:0;
		padding-left:0;
	}

	a:link {
		color: #38c;
		text-decoration:none;
	}
	a:visited {
		color: #8c3;
	}
	a:hover,
	a:focus {
		color: #3c8;
	}
	a:active {
		color: #333;
	}

}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {
	body {
		width: 700px;
		margin: 20px auto;
	}

	li {
		display:inline;
	}
}

@media screen and (min-width: 992px) {

}